/* This page was done by Celine Ayoub (A00423097)*/


/******************************** This is the css for menuPage.php for the mobile version of the web app *****************************/


/*The body format is left to its original settings. The only thing changed is the background color*/

body {
    background-color: white;
}


/*This is the div of the top bar. These are the settings for how the top bar of the page should look like and how the elements that are in 
the top bar should be displayed */

.top {
    width: 1000px;
    height: 200px;
    border: none;
    background-color: lavender;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: flex;
}


/*This formats the main header of the page "Bridge Messenger". It is found in top bar of the page*/

.top h1 {
    font-size: 70px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    color: navy;
    font-weight: bold;
    text-align: center;
    margin-inline-start: 20px;
}


/*Format settings for the "Profile" button, found on the top bar of the page*/

.top a button.profileBtn {
    width: 250px;
    height: 150px;
    margin-left: 10px;
    margin-top: 20px;
    padding: 0px;
    border: none;
    border-radius: 12px;
    font-size: 60px;
    background-color: rgb(166, 231, 166);
    color: navy;
}


/*Format settings for the "Logout" button, found on the top bar of the page*/

.top a button.logoutBtn {
    width: 250px;
    height: 150px;
    margin-right: 30px;
    margin-top: 20px;
    padding: 0px;
    border: none;
    border-radius: 12px;
    font-size: 60px;
    background-color: lemonchiffon;
    color: navy;
}


/*Format settings for the icons used in the profile and logout buttons*/

.top a i {
    padding: 2px 8px 0 0;
}


/*This is the settings for the div of the rest of the page (not including the top bar)*/

.content {
    width: 1000px;
    margin: 0 auto;
}


/*These are the settings for the welcome banner of the page*/

.content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 70px;
    border-bottom: 1px solid #e0e0e3;
    color: navy;
    text-align: center;
}


/*General button settings that apply to the buttons in the "content" div of the page*/

.content>button {
    border: none;
    color: black;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: auto;
    margin-top: 10%;
    width: 900px;
    height: 300px;
    font-size: 120px;
    font-family: Georgia, serif;
}


/*Additional, specialized "Group Chat" button settings*/

.content>button.button1 {
    background-color: lightpink;
    color: navy;
}


/*Additional, specialized "Games" button settings*/

.content>button.button2 {
    background-color: lightsalmon;
    color: navy;
}


/*Additional, specialized "Notifications" button settings*/

.content>button.button3 {
    background-color: lightskyblue;
    color: navy;
}